body {
    font-family: Arial, sans-serif;
    background-image: url(./assest/max-fuchs-Nm6ojlDO-5c-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    color: #332F31;
}
h2,h3,h4{
    color: purple;
}
.left-column {
    padding: 20px;
    background-image: url(./assest/jon-tyson-_W4xTX5gNb4-unsplash.jpg);
}
.right-column {
    padding: 20px;
}
.section-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.section-content {
    margin-bottom: 20px;
}
.scroll-left{
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.scroll-left.visible{
    opacity: 1;
    transform: translateX(0);
}
.scroll-right{
    opacity: 0;
    transform: translateX(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.scroll-right.visible{
    opacity: 1;
    transform: translateX(0);
}
a{
    color: #212529;
    text-decoration: none;
}
a:hover{
    color: yellow;

}

.fa-brands{
    color: #212529;
}
.fa-brands:hover{
    color: yellow;
    font-size: 3rem !important;
}
.fa-envelope{
    color: #212529;
}
.fa-envelope:hover{
    color: yellow;
    font-size: 3rem !important;
}

li{
    list-style-type:square;
}
h1{
    font-size: 5rem !important;
    font-family: "Playwrite GB S", cursive;
    color: #332F31;
}
@media (max-width: 767px) {
    h1 {
        font-size: 3rem !important;
    }
}
.margin-custom{
    margin-top: -20px;
}
.p-section-esperienza{
    margin-top: 100px;
    font-size: small;
}
.profilo-img{
    background-image: url(./assest/CHIARAG.jpg);
    background-size: cover;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    border-style:double;
    border-color: white;
}
@media (max-width: 767px) {
    .profilo-img {
        border-radius: 20%;
        width: 340px;
        height: 350px;
        margin-left: 20px;
    }
}

